*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
/* Navbar Start */
#navbar{
background: #f9f9f9;
}
/* Logo Start */
#logo{
    font-size: 36px;
    font-weight: 700;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #00ab41;
}
/* Logo End */

.navbar-toggler span{
    color: #00ab41;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    background: #00ab41;
    color: white;
}

#navbar form button{
    background: green;
    color: white;
    border: none;
}

/* Navbar End */

/* Home Section Start */

.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(/images/Travel\ 2\ copy\ .jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}

.home .content{
    text-align: center;
    padding-top: 100px;
}

.home .content h5{
    font-size: 38px;
    color: white;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}

.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content:"" ;
    color: green;
    text-shadow: 0px 1px 1px black ;
    animation: changetext 25s infinite linear;
}
@keyframes changetext{
    0%{content:"Bnagladesh"}
    10%{content:"India"}
    20%{content:"France"}
    30%{content:"United States"}
    40%{content:"Pakistan"}
    50%{content:"Isrial"}
    60%{content:"China"}
    70%{content:"Mexico"}
    80%{content:"Italy"}
    90%{content:"Garmany"}
    100%{content:"United Kingdom"}
}

.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}

.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.home .content a:hover{
    background: #00ab41;
    color: white;
}
/* Home Section End */



/* Section Book Started */


/* Section Book End */
